@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* fallback for old browsers */
    background: #09203f; 

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #537895, #09203f); 

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #537895, #09203f);
    
    color: white;
    min-height: 100vh;
}

/* Custom Scrollbar for a polished look */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: transparent; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}